<div class="card-container">
    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/images/tennis-gdab0eb7c5_640.jpg" alt="Card Image">
      <mat-card-content>
        <h3>NIke AirMax</h3>
        <p>Precio: 100USD</p>
        <p>Sin Stock</p>
      </mat-card-content>
    </mat-card>







      
  </div>