/* You can add global styles to this file, and also import other style files */
:root {
    --header-height: 10px;
    --sidebar-width: 300px;
  }

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;    
  }
  
  body {
    margin:  0;
  }

